{% extends "layout.html" %}
{% block title %}403 - Access Denied{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-warning text-black">
                    <h1 class="text-center">401 - Access Denied</h1>
                </div>
                <div class="card-body">
                    <p class="card-text">You need to login to access this resource.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
