{% extends "layout.html" %}
{% block title %}{{ type }} Role{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
    <div class="h3">{{ type }} Playlist</div>
    <form method="POST">
        {% for field in form %}
        {% if field.name != 'csrf_token' %}
            {{ render_field(field) }}
        {% endif %}
        {% endfor %}
        {{ form.hidden_tag() }}
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Save
        </button>
        <a href="{{ url_for('tracks.list_playlist') }}" class="btn btn-secondary btn-back">Back</a>
    </form>
</div>
{% endblock %}